.about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 81px 10px 238px 10px;
  padding-bottom: 180px;
  background: url("../img/about-article.jpg") no-repeat 1100px 100px;

  &__title {
    margin: 0 0 481px 0;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: $white;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    width: 910px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: $white;
    opacity: 0.7;
  }
}
