.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $white;

    &:hover,
    &:focus {
      outline: 0.3;
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
